# https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/values.yaml

affinity:
  podAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 1
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - alertmanager
        topologyKey: kubernetes.io/hostname

config:
  existingSecret: alertmanager-oauth2-proxy
  configFile: |-
    allowed_roles = [ "alertmanager:alertmanager-admin" ]
    banner = "-"
    code_challenge_method = "S256"
    cookie_csrf_per_request_limit = 1
    cookie_expire = "10m"
    cookie_refresh = "1m"
    cookie_samesite = "strict"
    cookie_secure = true
    custom_sign_in_logo = "-"
    email_domains = [ "*" ]
    footer = "-"
    force_https = true
    insecure_oidc_allow_unverified_email = true
    oidc_issuer_url = "https://keycloak.apps.iaas.wcooke.me/realms/iaas"
    pass_authorization_header = true
    provider = "keycloak-oidc"
    provider_ca_files = [ "/certs/ca.crt" ]
    real_client_ip_header = "X-Forwarded-For"
    redirect_url = "https://alertmanager.apps.iaas.wcooke.me/oauth2/callback"
    reverse_proxy = true
    set_authorization_header = true
    set_xauthrequest = true
    silence_ping_logging = true
    skip_provider_button = true
    ssl_insecure_skip_verify = false
    tls_cert_file = "/certs/tls.crt"
    tls_cipher_suites = [ "TLS_AES_256_GCM_SHA384" ]
    tls_key_file = "/certs/tls.key"
    tls_min_version = "TLS1.3"
    upstreams = [ "http://kube-prometheus-stack-alertmanager.kube-prometheus-stack.svc:9093/" ]
    whitelist_domains = [ "*.apps.iaas.wcooke.me" ]

extraObjects:
- apiVersion: cert-manager.io/v1
  kind: Certificate
  metadata:
    annotations:
      argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    name: alertmanager-oauth2-proxy
  spec:
    commonName: alertmanager-oauth2-proxy
    dnsNames:
    - alertmanager.apps.iaas.wcooke.me
    duration: 960h
    isCA: false
    issuerRef:
      kind: ClusterIssuer
      name: iaas-wcooke-me
    secretName: alertmanager-oauth2-proxy-certs
    usages:
    - client auth
    - server auth
- apiVersion: openidclient.keycloak.crossplane.io/v1alpha1
  kind: Client
  metadata:
    annotations:
      argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    name: alertmanager
  spec:
    deletionPolicy: Delete
    forProvider:
      accessType: confidential
      baseUrl: /
      clientId: alertmanager
      clientSecretSecretRef:
        key: client-secret
        name: alertmanager-oauth2-proxy
        namespace: kube-prometheus-stack
      directAccessGrantsEnabled: true
      name: Alertmanager
      pkceCodeChallengeMethod: S256
      realmIdRef:
        name: iaas
      rootUrl: https://alertmanager.apps.iaas.wcooke.me
      standardFlowEnabled: true
      validPostLogoutRedirectUris:
      - /oauth2/sign_out
      validRedirectUris:
      - /oauth2/callback
    providerConfigRef:
      name: keycloak-provider-config
- apiVersion: role.keycloak.crossplane.io/v1alpha1
  kind: Role
  metadata:
    annotations:
      argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    name: alertmanager-admin
  spec:
    deletionPolicy: Delete
    forProvider:
      clientIdRef:
        name: alertmanager
      name: alertmanager-admin
      realmIdRef:
        name: iaas
    providerConfigRef:
      name: keycloak-provider-config
- apiVersion: group.keycloak.crossplane.io/v1alpha1
  kind: Group
  metadata:
    annotations:
      argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    name: alertmanager-admins
  spec:
    deletionPolicy: Delete
    forProvider:
      name: alertmanager-admins
      realmIdRef:
        name: iaas
    providerConfigRef:
      name: keycloak-provider-config
- apiVersion: group.keycloak.crossplane.io/v1alpha1
  kind: Roles
  metadata:
    annotations:
      argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    name: alertmanager-roles
  spec:
    deletionPolicy: Delete
    forProvider:
      groupIdRef:
        name: alertmanager-admins
      realmIdRef:
        name: iaas
      roleIdsRefs:
      - name: alertmanager-admin
    providerConfigRef:
      name: keycloak-provider-config

extraVolumes:
- name: oauth2-proxy-certs
  secret:
    secretName: alertmanager-oauth2-proxy-certs

extraVolumeMounts:
- mountPath: /certs
  name: oauth2-proxy-certs

# gatewayApi:
#   annotations: {}
#   enabled: false
#   gatewayRef:
#     name: ""
#     namespace: ""
#   hostnames:
#   - chart-example.local
#   labels: {}
#   rules:
#   - matches:
#     - path:
#         type: PathPrefix
#         value: /

httpScheme: https

ingress:
  annotations:
    cert-manager.io/cluster-issuer: iaas-wcooke-me
    forecastle.stakater.com/appName: Alertmanager
    forecastle.stakater.com/expose: "true"
    forecastle.stakater.com/group: Observability
    forecastle.stakater.com/icon: https://alertmanager.apps.iaas.wcooke.me/favicon.ico
    forecastle.stakater.com/network-restricted: "true"
    ingress.cilium.io/tls-passthrough: enabled
  className: cilium
  enabled: true
  hosts:
  - alertmanager.apps.iaas.wcooke.me
  labels: {}
  path: /
  pathType: Prefix
  tls:
  - hosts:
    - alertmanager.apps.iaas.wcooke.me
    secretName: alertmanager-ingress-cert

initContainers:
  waitForRedis:
    enabled: false

metrics:
  enabled: true

networkPolicy:
  create: false
  ingress: []
  egress: []

replicaCount: 2

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 300Mi
  # requests:
  #   cpu: 100m
  #   memory: 300Mi

revisionHistoryLimit: 0

serviceAccount:
  enabled: false
