apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cluster-network-addons

resources:
- https://github.com/kubevirt/cluster-network-addons-operator/releases/download/v0.100.3/network-addons-config.crd.yaml
- https://github.com/kubevirt/cluster-network-addons-operator/releases/download/v0.100.3/operator.yaml
- base/network-addons.yaml

#add preserve unknown fields to networkaddonsconfigs.networkaddonsoperator.network.kubevirt.io crd
patches:
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: networkaddonsconfigs.networkaddonsoperator.network.kubevirt.io
  patch: |-
    - op: remove
      path: /spec/preserveUnknownFields
