# https://headlamp.dev/docs/latest/installation/in-cluster/
# https://github.com/kubernetes-sigs/headlamp/blob/main/charts/headlamp/values.yaml

replicaCount: 1

config:
  inCluster: true
  oidc:
    secret:
      create: false

    # -- OIDC client ID
    #clientID: headlamp
    # -- OIDC client secret
    #clientSecret: ""
    # -- OIDC issuer URL
    #issuerURL: https://keycloak.apps.iaas.wcooke.me/realms/test
    # -- OIDC scopes to be used
    #scopes: email,profile
    # -- OIDC callback URL
    #callbackURL: https://headlamp.apps.iaas.wcooke.me/oidc-callback

    # # -- OIDC client to be used during token validation
    # validatorClientID: ""
    # # -- OIDC Issuer URL to be used during token validation
    # validatorIssuerURL: ""
    # # -- Use 'access_token' instead of 'id_token' when authenticating using OIDC
    # useAccessToken: false
    # # -- Use PKCE (Proof Key for Code Exchange) for enhanced security in OIDC flow
    # usePKCE: false

    externalSecret:
      enabled: true
      name: headlamp-oidc-client

    # -- URL to fetch additional user info for the /me endpoint.
    # For oauth2proxy /oauth2/userinfo can be used. Empty and it will not be used.
    meUserInfoURL: ""

  # -- directory to look for plugins
  pluginsDir: /headlamp/plugins
  enableHelm: false
  watchPlugins: true
  # tlsCertPath: "/headlamp-cert/headlamp-ca.crt"
  # tlsKeyPath: "/headlamp-cert/headlamp-tls.key"
  # Extra arguments that can be given to the container. See charts/headlamp/README.md for more information.
  extraArgs: []

# -- An optional list of environment variables
env:
# - name: OIDC_USE_PKCE
#   value: "true"
- name: OIDC_ISSUER_URL
  value: https://keycloak.apps.iaas.wcooke.me/realms/iaas
- name: OIDC_CLIENT_ID
  value: headlamp
- name: OIDC_SCOPES
  value: email,profile,groups
- name: HEADLAMP_CONFIG_OIDC_CA_FILE
  value: /certs/ca-bundle.pem
# - name: HEADLAMP_CONFIG_ME_USERNAME_PATH
#   value: sub
# - name: OIDC_CALLBACK_URL
#   value: https://headlamp.apps.iaas.wcooke.me/oidc-callback

volumeMounts:
- mountPath: /certs
  name: ca-certificates
  readOnly: true
- name: plugins
  mountPath: /headlamp/plugins

volumes:
- name: ca-certificates
  configMap:
    name: tm-ca-bundle
- name: plugins
  ephemeral:
    volumeClaimTemplate:
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: ceph-filesystem
        resources:
          requests:
            storage: 1Gi

persistentVolumeClaim:
  # -- Enable Persistent Volume Claim
  enabled: false
  # -- Annotations to add to the persistent volume claim (if enabled)
  annotations:
    {}
  # -- accessModes for the persistent volume claim, eg: ReadWriteOnce, ReadOnlyMany, ReadWriteMany etc.
  accessModes: []
  # -- size of the persistent volume claim, eg: 10Gi. Required if enabled is true.
  size: ""
  # -- storageClassName for the persistent volume claim.
  storageClassName: ""
  # -- selector for the persistent volume claim.
  selector: {}
  # -- volumeMode for the persistent volume claim, eg: Filesystem, Block.
  volumeMode: ""

ingress:
  annotations:
    cert-manager.io/cluster-issuer: iaas-wcooke-me
    # nginx.ingress.kubernetes.io/backend-protocol: https
    # nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    # external-dns.alpha.kubernetes.io/hostname: argocd.apps.iaas.wcooke.me
    forecastle.stakater.com/appName: Headlamp
    forecastle.stakater.com/expose: "true"
    forecastle.stakater.com/group: Kubernetes
    forecastle.stakater.com/icon: https://headlamp.apps.iaas.wcooke.me/apple-touch-icon.png
    forecastle.stakater.com/network-restricted: "true"
  enabled: true
  hosts:
  - host: headlamp.apps.iaas.wcooke.me
    paths:
    - path: /
      type: Prefix
  ingressClassName: cilium
  tls:
  - hosts:
      - headlamp.apps.iaas.wcooke.me
    secretName: chart-example-tls

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# Plugin Manager Sidecar Container Configuration
pluginsManager:
  # -- Enable plugin manager
  enabled: true
  # -- Plugin configuration file name
  configFile: "plugin.yml"
  # -- Plugin configuration content in YAML format. This is required if plugins.enabled is true.
  configContent:  |
    plugins:
    - name: cert-manager
      source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_cert-manager
      version: 0.1.0
    - name: kubevirt
      source: https://artifacthub.io/packages/headlamp/headlamp-buttahtoast-plugins/buttah_kubevirt
      version: 0.0.1-beta7
    - name: ai-assistant
      source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_ai_assistant
      version: 0.1.0-alpha
    - name: envoy-gateway
      source: https://artifacthub.io/packages/headlamp/headlamp-envoy-gateway/envoy-gateway
      version: 0.3.0
    - name: gatekeeper
      source: https://artifacthub.io/packages/headlamp/gatekeeper-headlamp-plugin/gatekeeper
      version: 0.2.0
    - name: opencost
      source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_opencost
      version: 0.1.3
    - name: trivy
      source: https://artifacthub.io/packages/headlamp/headlamp-trivy/headlamp_trivy
      version: 0.3.1
    installOptions:
      parallel: true
      maxConcurrent: 2
  # -- Base node image to use
  baseImage: node:lts-alpine
  # -- Headlamp plugin package version to install
  version: latest
  # -- Plugin manager env variable configuration
  # env:
  # - name: HTTPS_PROXY
  #   value: "proxy.example.com:8080"
  # -- Specify resrouces
  # resources:
  #   requests:
  #     cpu: "500m"
  #     memory: "2048Mi"
  #   limits:
  #     cpu: "1000m"
  #     memory: "4096Mi"
  # If omitted, the plugin manager will inherit the global securityContext
