apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- base/dashboards.yaml
- base/namespace.yaml

helmCharts:
- name: cert-manager
  namespace: cert-manager
  releaseName: cert-manager
  repo: https://charts.jetstack.io
  valuesFile: values.yaml
  version: v1.19.2
