apiVersion: openidclient.keycloak.crossplane.io/v1alpha1
kind: Client
metadata:
  name: alertmanager
spec:
  deletionPolicy: Delete
  forProvider:
    accessType: confidential
    baseUrl: /
    clientId: alertmanager
    clientSecretSecretRef:
      key: client_secret
      name: alertmanager-oauth2-proxy
      namespace: kube-prometheus-stack
    directAccessGrantsEnabled: true
    name: Alertmanager
    pkceCodeChallengeMethod: S256
    realmIdRef:
      name: iaas
    rootUrl: https://alertmanager.apps.iaas.wcooke.me
    standardFlowEnabled: true
    validPostLogoutRedirectUris:
    - /login
    validRedirectUris:
    - /oauth2/callback
  providerConfigRef:
    name: keycloak-provider-config
---
apiVersion: role.keycloak.crossplane.io/v1alpha1
kind: Role
metadata:
  name: alertmanager-admin
spec:
  deletionPolicy: Delete
  forProvider:
    clientIdRef:
      name: alertmanager
    name: alertmanager-admin
    realmIdRef:
      name: iaas
  providerConfigRef:
    name: keycloak-provider-config
---
apiVersion: group.keycloak.crossplane.io/v1alpha1
kind: Group
metadata:
  name: alertmanager-admins
spec:
  deletionPolicy: Delete
  forProvider:
    name: alertmanager-admins
    realmIdRef:
      name: iaas
  providerConfigRef:
    name: keycloak-provider-config
---
apiVersion: group.keycloak.crossplane.io/v1alpha1
kind: Roles
metadata:
  name: alertmanager-roles
spec:
  deletionPolicy: Delete
  forProvider:
    groupIdRef:
      name: alertmanager-admins
    realmIdRef:
      name: iaas
    roleIdsRefs:
    - name: alertmanager-admin
  providerConfigRef:
    name: keycloak-provider-config
