# -- targetNamespace defines where you want trivy-operator to operate. By
# default, it's a blank string to select all namespaces, but you can specify
# another namespace, or a comma separated list of namespaces.
targetNamespaces: ""

# -- excludeNamespaces is a comma separated list of namespaces (or glob patterns)
# to be excluded from scanning. Only applicable in the all namespaces install
# mode, i.e. when the targetNamespaces values is a blank string.
excludeNamespaces: ""

# -- targetWorkloads is a comma seperated list of Kubernetes workload resources
# to be included in the vulnerability and config-audit scans
# if left blank, all workload resources will be scanned
targetWorkloads: "pod,replicaset,replicationcontroller,statefulset,daemonset,cronjob,job"

# -- Prometheus ServiceMonitor configuration -- to install the trivy operator with the ServiceMonitor
# you must have Prometheus already installed and running. If you do not have Prometheus installed, enabling this will
# produce an error.
serviceMonitor:
  # -- enabled determines whether a serviceMonitor should be deployed
  enabled: true

trivyOperator:
  # -- scanJobAutomountServiceAccountToken the flag to enable automount for service account token on scan job
  scanJobAutomountServiceAccountToken: false

  # -- reportResourceLabels comma-separated scanned resource labels which the user wants to include in the Prometheus
  # metrics report. Example: `owner,app`
  reportResourceLabels: ""

  # -- reportRecordFailedChecksOnly flag is to record only failed checks on misconfiguration reports (config-audit and rbac assessment)
  reportRecordFailedChecksOnly: true

  # -- skipResourceByLabels comma-separated labels keys which trivy-operator will skip scanning on resources with matching labels
  skipResourceByLabels: ""

  # -- additionalReportLabels comma-separated representation of the labels which the user wants the scanner pods to be
  # labeled with. Example: `foo=bar,env=stage` will labeled the reports with the labels `foo: bar` and `env: stage`
  additionalReportLabels: ""

  # -- excludeImages is comma separated glob patterns for excluding images from scanning.
  # Example: pattern: `k8s.gcr.io/*/*` will exclude image: `k8s.gcr.io/coredns/coredns:v1.8.0`.
  excludeImages: ""

trivy:
  # -- storageClassName is the name of the storage class to be used for trivy server PVC. If empty, tries to find default storage class
  storageClassName: ceph-filesystem

  # -- additionalVulnerabilityReportFields is a comma separated list of additional fields which
  # can be added to the VulnerabilityReport. Supported parameters: Description, Links, CVSS, Target, Class, PackagePath and PackageType
  additionalVulnerabilityReportFields: "Description,Links,CVSS,Target,Class,PackagePath,PackageType"

  # -- severity is a comma separated list of severity levels reported by Trivy.
  severity: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL

  # -- a comma separated list of file paths for Trivy to skip
  skipFiles:
  # -- a comma separated list of directories for Trivy to skip
  skipDirs:

  # -- ignoreFile can be used to tell Trivy to ignore vulnerabilities by ID (one per line)
  ignoreFile: ~
  # ignoreFile:
  #   - CVE-1970-0001
  #   - CVE-1970-0002

  # -- ignoreFileName sets the file name that will be mounted inside the scanner container.
  # Defaults to ".trivyignore" if not set.
  ignoreFileName: ""

  # -- configFile can be used to tell Trivy to use specific options available only in the config file (e.g. Mirror registries).
  configFile: ~
  # configFile:
  #   registry:
  #     mirrors:
  #       index.docker.io:
  #       - mirror.with.bad.auth
  #       - mirror.without.image

  # -- ignorePolicy can be used to tell Trivy to ignore vulnerabilities by a policy
  # If multiple policies would match, then the most specific one has precedence over the others.
  # See https://aquasecurity.github.io/trivy/latest/docs/configuration/filtering/#by-open-policy-agent for more details.
  # See https://github.com/aquasecurity/trivy/blob/v0.19.2/contrib/example_policy/basic.rego for more details on ignorePolicy filtering.
  #
  # ignorePolicy.application.my-app-.: |
  #  package trivy

  #  import data.lib.trivy

  #  default ignore = true
  # applies to all workloads in namespace "application" with the name pattern "my-app-*"
  # ignorePolicy.kube-system: |
  #  package trivy

  #  import data.lib.trivy

  #  default ignore = true
  # applies to all workloads in namespace "kube-system"
  # ignorePolicy: |
  #  package trivy

  #  import data.lib.trivy

  #  default ignore = true
  # applies to all other workloads

  # -- vulnType can be used to tell Trivy to filter vulnerabilities by a pkg-type (library, os)
  vulnType: ~


  useBuiltinRegoPolicies: "true"

  server:
    # -- volumes set trivy-server volumes
    extraServerVolumes:
      # Statefulset volumeMounts
      volumeMounts: []
        # - name: trusted-ca
        #   mountPath: /etc/ssl/trusted-ca
        #   subPath: trusted-ca.crt
        #   readOnly: true
      # Statefulset volumes
      volumes: []
        # - name: trusted-ca
        #   secret:
        #     secretName: trusted-ca

compliance:
  # -- reportType this flag control the type of report generated (summary or all)
  reportType: all
  # -- cron this flag control the cron interval for compliance report generation
  cron: 0 */6 * * *
  # -- specs is a list of compliance specs to be used by the cluster compliance scanner
  #  - k8s-cis-1.23
  #  - k8s-nsa-1.0
  #  - k8s-pss-baseline-0.1
  #  - k8s-pss-restricted-0.1
  #  - eks-cis-1.4
  #  - rke2-cis-1.24
  specs:
    - k8s-cis-1.23
    - k8s-nsa-1.0
    - k8s-pss-baseline-0.1
    - k8s-pss-restricted-0.1

alternateReportStorage:
  enabled: true
  storageClassName: ceph-filesystem
