apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gitlab

resources:
- base/bucket-git-lfs.yaml
- base/bucket-gitlab-artifacts.yaml
- base/bucket-gitlab-ci-secure-files.yaml
- base/bucket-gitlab-dependency-proxy.yaml
- base/bucket-gitlab-mr-diffs.yaml
- base/bucket-gitlab-packages.yaml
- base/bucket-gitlab-pages.yaml
- base/bucket-gitlab-registry.yaml
- base/bucket-gitlab-terraform-state.yaml
- base/bucket-gitlab-uploads.yaml
- base/bucket-user.yaml
# - base/certificate.yaml
- base/gitlab-keycloak-client.yaml
- base/ingress-role-binding.yaml
- base/ingress-role.yaml
- sealed-secrets/gitlab-bucket-user-creds.yaml
- sealed-secrets/gitlab-connection.yaml
- sealed-secrets/gitlab-keycloak-client.yaml
- sealed-secrets/gitlab-oidc.yaml
- sealed-secrets/gitlab-registry-connection.yaml

helmCharts:
# - includeCRDs: true
- name: gitlab
  namespace: gitlab
  releaseName: gitlab
  repo: https://charts.gitlab.io
  valuesFile: values.yaml
  version: 9.9.1
- name: valkey
  namespace: gitlab
  releaseName: valkey
  repo: https://valkey.io/valkey-helm
  valuesFile: valkey-values.yaml
  version: 0.9.3
