apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudnative-pg

resources:
# - base/barman-cloud-role.yaml
# - base/clusterrolebinding.yaml
# - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/release-1.26/releases/cnpg-1.26.0.yaml
- https://raw.githubusercontent.com/cloudnative-pg/postgis-containers/refs/heads/main/image-catalogs/postgis-standard-trixie.yaml
- https://raw.githubusercontent.com/cloudnative-pg/postgres-containers/refs/heads/main/Debian/ClusterImageCatalog-bookworm.yaml
# - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.9.0/manifest.yaml

helmCharts:
- name: cloudnative-pg
  namespace: cloudnative-pg
  repo: https://cloudnative-pg.github.io/charts
  releaseName: cloudnative-pg
  version: 0.27.0
  valuesFile: values.yaml
- name: plugin-barman-cloud
  namespace: cloudnative-pg
  repo: https://cloudnative-pg.github.io/charts
  releaseName: plugin-barman-cloud
  version: 0.5.0
  valuesFile: plugin-barman-cloud-values.yaml
