ollama:
  port: 11434

  gpu:
    enabled: false
    draEnabled: false
    draDriverClass: gpu.nvidia.com
    draExistingClaimTemplate: ""
    type: nvidia
    number: 1
    nvidiaResource: nvidia.com/gpu
    mig:
      enabled: false
      devices: {}

  models:
    # -- List of models to pull at container startup
    # The more you add, the longer the container will take to start if models are not present
    # pull:
    #  - llama2
    #  - mistral
    pull:
    - codellama
    - llama2
    - llama4
    - mistral

    # -- List of models to load in memory at container startup
    # run:
    #  - llama2
    #  - mistral
    run:
    - codellama
    - llama2
    - llama4
    - mistral

    # -- List of models to create at container startup, there are two options
    # 1. Create a raw model
    # 2. Load a model from configMaps, configMaps must be created before and are loaded as volume in "/models" directory.
    # create:
    #  - name: llama3.1-ctx32768
    #    configMapRef: my-configmap
    #    configMapKeyRef: configmap-key
    #  - name: llama3.1-ctx32768
    #    template: |
    #      FROM llama3.1
    #      PARAMETER num_ctx 32768
    create: []

    # -- Automatically remove models present on the disk but not specified in the values file
    clean: true

  # -- Add insecure flag for pulling at container startup
  insecure: false

  # -- Override ollama-data volume mount path, default: "/root/.ollama"
  mountPath: ""

ingress:
  annotations:
    cert-manager.io/cluster-issuer: iaas-wcooke-me
    # forecastle.stakater.com/appName: Ollama
    # forecastle.stakater.com/expose: "true"
    # forecastle.stakater.com/group: Apps
    # # forecastle.stakater.com/icon: https://ollama.apps.iaas.wcooke.me/assets/images/logo.png
    # forecastle.stakater.com/network-restricted: "true"
  className: cilium
  enabled: true
  hosts:
  - host: ollama.apps.iaas.wcooke.me
    paths:
    - path: /
      pathType: Prefix
  tls:
  - hosts:
    - ollama.apps.iaas.wcooke.me
    secretName: ollama-tls

nodeSelector: {}

persistentVolume:
  accessModes:
  - ReadWriteOnce
  enabled: true
  size: 100Gi
  storageClass: ceph-filesystem

replicaCount: 1

resources:
  limits: {}
    # cpu: 4000m
    # memory: 8192Mi
  requests:
    cpu: 1200m
    memory: 32Gi

serviceAccount:
  automount: false
  create: false
