kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: argo-workflows

resources:
- https://github.com/argoproj/argo-workflows/manifests/base/crds/full?ref=v3.7.7
- https://github.com/argoproj/argo-workflows/manifests/cluster-install-no-crds?ref=v3.7.7
- base/ingress.yaml
- base/metrics.yaml
- base/objectbucketclaim.yaml
- sealed-secrets/argo-workflows-keycloak-client.yaml

patches:
- path: patches/argo-server-deployment.yaml
  target:
    kind: Deployment
    name: argo-server
    version: v1
- path: patches/argo-server-service.yaml
  target:
    kind: Service
    name: argo-server
    version: v1
- path: patches/workflow-controller-configmap.yaml
- path: patches/workflow-controller-deployment.yaml
  target:
    kind: Deployment
    name: workflow-controller
    version: v1

helmCharts:
- name: cluster
  namespace: argo-workflows
  releaseName: argo-workflows-pg
  repo: https://cloudnative-pg.github.io/charts
  version: 0.3.7
  valuesFile: argo-workflows-pg-values.yaml
