apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: deployment
    app.kubernetes.io/name: mermaid
    app.kubernetes.io/part-of: mermaid
  name: mermaid
spec:
  replicas: 2
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/component: pod
      app.kubernetes.io/name: mermaid
      app.kubernetes.io/part-of: mermaid
  template:
    metadata:
      labels:
        app.kubernetes.io/component: pod
        app.kubernetes.io/name: mermaid
        app.kubernetes.io/part-of: mermaid
    spec:
      automountServiceAccountToken: false
      containers:
      - env:
        - name: MERMAID_RENDERER_URL
          value: https://mermaid.apps.iaas.wcooke.me
        # - name: MERMAID_KROKI_RENDERER_URL
        #   value: https://kroki.apps.iaas.wcooke.me
        image: ghcr.io/mermaid-js/mermaid-live-editor:latest
        imagePullPolicy: IfNotPresent
        # livenessProbe:
        #   httpGet:
        #     path: /
        #     port: 8080
        #   initialDelaySeconds: 30
        #   periodSeconds: 10
        name: mermaid
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        # readinessProbe:
        #   httpGet:
        #     path: /
        #     port: 8080
        #   initialDelaySeconds: 30
        #   periodSeconds: 10
        #   failureThreshold: 20
        # resources:
        #   limits:
        #     cpu: 500m
        #     memory: 512Mi
        #   requests:
        #     cpu: 20m
        #     memory: 384Mi
        securityContext:
          allowPrivilegeEscalation: false
          # capabilities:
          #   drop:
          #   - ALL
          # readOnlyRootFilesystem: false
        # volumeMounts:
        # - mountPath: /usr/local/tomcat/logs
        #   name: logs
        # - mountPath: /usr/local/tomcat/conf/Catalina/localhost
        #   name: html
      nodeSelector:
        kubernetes.io/os: linux
      # securityContext:
      #   fsGroup: 999
      # volumes:
      # - emptyDir:
      #     sizeLimit: 5Mi
      #   name: html
      # - emptyDir:
      #     sizeLimit: 16Mi
      #   name: logs
