# excludeNamespaces: "kubescape,kube-system,kube-public,kube-node-lease,kubeconfig,gmp-system,gmp-public"
includeNamespaces: ""
# excludeLabels:
  # "app.kubernetes.io/component": ["kubescape"]

volumes: []

volumeMounts: []

capabilities:
  operator: enable

  configurationScan: enable
  continuousScan: disable
  nodeScan: enable

  nodeSbomGeneration: enable # Warning: When disabled along with enableClusterWideSecretAccess: false, vulnerability scanning capabilities will be limited
  # Instruct Syft to also scan for SBOM files in the filesystem container
  scanEmbeddedSBOMs: disable
  vulnerabilityScan: enable
  relevancy: enable
  # Generate VEX documents alongside the image vulnerabilities report (experimental)
  vexGeneration: disable

  runtimeObservability: disable
  networkPolicyService: disable
  networkEventsStreaming: disable
  runtimeDetection: disable
  malwareDetection: disable
  nodeProfileService: disable
  admissionController: disable
  httpDetection: disable
  seccompProfileService: disable



  # runtimeObservability: enable
  # networkPolicyService: enable
  # networkEventsStreaming: enable
  # runtimeDetection: enable
  # malwareDetection: enable
  # nodeProfileService: enable
  # admissionController: enable
  # httpDetection: enable
  # seccompProfileService: enable
  # Storage backend for SeccompProfile resources: "crd" (Kubernetes CRD) or "storage" (aggregated API)
  seccompProfileBackend: crd
  manageWorkloads: disable
  syncSBOM: disable

  # This is an experimental capability with an elevated security risk. Read the
  # matching docs before enabling.
  autoUpgrading: disable
  kubescapeOffline: disable
  prometheusExporter: disable
  # seccompGenerator: disable

  testing:
    nodeAgentMultiplication:
      enabled: false
      replicas: 5

serviceScanConfig:
  enabled: false
  interval: 1h

configurations:
  otelUrl: # default is empty
  persistence: enable

  # Enable Prometheus annotations, to allow open-source Prometheus (not operator) to scrape metrics
  prometheusAnnotations: disable

  priorityClass:
    enabled: true
    daemonset: 100000100 # PriorityClass of the DaemonSet, this should be higher than the other components so the DaemonSet will schedule on all nodes

  # List of json paths to exclude from the pod spec hash computation - used for aggregating CronJob generated CRDs
  excludeJsonPaths:
    # - ".containers[*].env[?(@.name==\"DD_INJECT_ID\")]"

# installation of the alertCRD chart
alertCRD:
  installDefault: false # install the default CRD
  scopeClustered: true # it is better to have the CRDs in the cluster scope
  scopeNamespaced: false # enable scopeNamespaced when there are no permissions for creating cluster scoped CRDs

persistence:
  storageClass: ceph-filesystem
  accessMode: ReadWriteOnce
  size:
    backingStorage: 5Gi
    kubevuln: 5Gi

global:
  httpsProxy: ""
  noProxy: ""
  proxySecretFile: "" # file content (not file path), e.g. `global.proxySecretFile=(cat /path/to/file)`
  proxySecretName: kubescape-proxy-certificate
  enableClusterWideSecretAccess: true
  namespaceTier: ks-control-plane
  cloudConfig: ks-cloud-config
  proxySecretDirectory: proxy-support
  configMapsDirectory: configs
  kubescapePsp:
    name: ks-allow-privileged
    enabled: false
  networkPolicy:
    enabled: false
    createEgressRules: false
    apiServerIP: ""
    apiServerPort: 443
    httpsProxyIP: ""
    httpsProxyPort: ""
  overrideRuntimePath: ""
  overrideDefaultCaCertificates:
    enabled: false
    caCertificates: ""
  extraCaCertificates:
    enabled: false
    secretName: ""

kubescape:
  serviceMonitor:
    enabled: true

operator:
  name: operator

unittest: false

kubevuln:
  # -- for enable:"<any-value>", for disable:"": the print of json posted to the Kubescape cloud from the vuln scanner
  verbose: ""

  replicaCount: 1

  config:
    maxImageSize: 5368709120 # set the maximum image size for scanning. This refers to the size of the zipped image. If the size of the non-zipped image is larger, increase the ephemeral-storage limits. It is recommended to use the same size as the requested ephemeral-storage
    maxSBOMSize: 20971520
    scanTimeout: 5m # set timeout for scanning an image
    grypeDbListingURL: "" # set the URL for the grype db listing, if empty the default URL will be used
    grypeDbPersistence: false # use a persistent volume for the grype db files
    useDefaultMatchers: false # set to true to use the default matchers
    storeFilteredSboms: false

  env:
    - name: CA_MAX_VULN_SCAN_ROUTINES # TODO update the kubevuln
      value: "1"

storage:
  mtls:
    certificateValidityInDays: 40

nodeAgent:
  config:
    maxLearningPeriod: 24h # duration string
    learningPeriod: 2m # duration string
    updatePeriod: 10m # duration string
    nodeProfileInterval: 10m # duration string
    networkStreamingInterval: 2m # duration string
    prometheusExporter: disable
    httpExporterConfig:
      url: http://synchronizer:8089/apis/v1/kubescape.io
      maxAlertsPerMinute: 1000
      method: POST
    alertManagerExporterUrls: []
    stdoutExporter: true
    syslogExporterURL: ""
    skipKernelVersionCheck: false
    malwareScanAllFiles: false
    hostMalwareSensor: disable
    hostNetworkSensor: disable
    ruleCooldown:
      ruleCooldownDuration: 1h # duration string
      ruleCooldownAfterCount: 1
      ruleCooldownOnProfileFailure: true
      ruleCooldownMaxSize: 20000

  serviceMonitor:
    enabled: true

kubescapeScheduler:
  # Detemines what to scan. By default it will scan all resources in the cluster for all frameworks.
  # Further details can be found here: https://github.com/kubescape/operator?tab=readme-ov-file#trigger-kubescape-scanning
  requestBody:
    commands:
      - CommandName: "kubescapeScan"
        args:
          # To scan only specific frameworks, provide the list of frameworks to scan:
          # scanV1: {"targetType": "framework", "targetNames": [ "nsa" ] }
          scanV1: {}

    # -- Frequency of running the scan
    #     ┌───────────── minute (0 - 59)
    #     │ ┌───────────── hour (0 - 23)
    #     │ │ ┌───────────── day of the month (1 - 31)
    #     │ │ │ ┌───────────── month (1 - 12)
    #     │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
    #     │ │ │ │ │                         7 is also Sunday on some systems)
    #     │ │ │ │ │
    #     │ │ │ │ │
  #     * * * * *
  # -- scan schedule frequency
  scanSchedule: "0 8 * * *"

kubevulnScheduler:
    # -- Frequency of running the scan
    #     ┌───────────── minute (0 - 59)
    #     │ ┌───────────── hour (0 - 23)
    #     │ │ ┌───────────── day of the month (1 - 31)
    #     │ │ │ ┌───────────── month (1 - 12)
    #     │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
    #     │ │ │ │ │                         7 is also Sunday on some systems)
    #     │ │ │ │ │
    #     │ │ │ │ │
  #     * * * * *
  scanSchedule: "0 0 * * *"

registryScanScheduler:
    # -- Frequency of running the scan
    #     ┌───────────── minute (0 - 59)
    #     │ ┌───────────── hour (0 - 23)
    #     │ │ ┌───────────── day of the month (1 - 31)
    #     │ │ │ ┌───────────── month (1 - 12)
    #     │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
    #     │ │ │ │ │                         7 is also Sunday on some systems)
    #     │ │ │ │ │
    #     │ │ │ │ │
  #     * * * * *
  # -- scan schedule frequency
  scanSchedule: "0 0 * * *"

# Continuous scanning configurations
continuousScanning:
  configMapName: cs-matching-rules

  # Matching rules for the monitored resources.
  # Kubescape will watch resources of every provided GVR across the provided
  # namespaces.
  matchingRules:
    match:
      - apiGroups: ["apps"]
        apiVersions: ["v1"]
        resources: ["deployments"]
    namespaces:
      - default
