apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: harbor

resources:
- base/certificates.yaml
- base/harbor-pg-cluster.yaml
- base/objectbucketclaim.yaml
- sealed-secrets/harbor-admin-password.yaml
- sealed-secrets/harbor-core-config.yaml
- sealed-secrets/harbor-encryption-key.yaml

helmCharts:
- name: harbor
  namespace: harbor
  releaseName: harbor
  repo: https://helm.goharbor.io
  valuesFile: values.yaml
  version: 1.18.2

patches:
- path: patches/harbor-jobservice-pvc.yaml
  target:
    kind: PersistentVolumeClaim
    name: harbor-jobservice
